@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Bodoni+Moda:opsz@6..96&family=Cormorant+SC:wght@300&family=Dancing+Script:wght@600&family=Great+Vibes&family=Kaushan+Script&family=Lato:wght@300&family=Markazi+Text&family=MuseoModerno:wght@300&family=Pacifico&family=Parisienne&family=Righteous&family=Sacramento&family=Satisfy&family=Smooch&family=Staatliches&display=swap');
@media screen and (max-width: 800px) {
  body, img, div {
  width: 100%;
  }
body {
			   margin:auto;
      position: relative;
      top: 0;
 	    right:0;
      text-align: center;
      left:0;
 	    bottom:0;
 	    width: 100%;
 	    height: 100%;
					
					/* 16:9 Aspect Ratio */
}
div {
				white-space: pre;
				
}
.cvr {
    	background-size: 100%;
						background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
				margin:auto;
 	  position: static;
 	  top: 0;
    right:0;
 	  text-align: center;
 	  left:0;
 	  bottom:0;
 	  width: 100%;
 	  height: 660px;
 	  /* 16:9 Aspect Ratio */
}
.ktp {
				margin:auto;
 	  position: static;
 	  padding-top: 70%;   
 	  padding-bottom: 30%;   
 	  text-align: center;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  width: 100%;
 	   height: 100%;
 	  /* 16:9 Aspect Ratio */
}
.me {
				margin:auto;
				padding-top: 20%;   
 	  padding-bottom: 5%;   
 	  position: static;
 	  text-align: center;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  width: 100%;
 	  height: 100%;
 	  /* 16:9 Aspect Ratio */
}
.acr {
				margin:auto;
				padding-top: 20%;   
 	  padding-bottom: 5%;
 	  position: static;
 	  text-align: center;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  width: 100%;
 	  height: 100%;
 	  /* 16:9 Aspect Ratio */
}
.lk {
				margin:auto;
				padding-top: 20%; 
				
 	  position: static;
 	  text-align: center;
 	  width: 100%;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  height: 100%;
 	  /* 16:9 Aspect Ratio */
}
.hd {
				margin:auto;
 	  position: static;
 	  text-align: center;
   	padding-top: 20%;
   	padding-bottom: 5%;
 	  width: 100%;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  height: 100%;
 	  /*16:9 Aspect Ratio */
}
.qts {
				margin:auto;
 	  position: static;
 	  text-align: center;
 	  padding-top: 60%;   
 	  padding-bottom: 30%;
 	  width: 100%;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  height: 100%;
 	  /* 16:9 Aspect Ratio */
}
.cdn {
				margin:auto;
 	  position: static;
 	  text-align: center;
 	  padding-top: 70%;   
 	  padding-bottom: 10%;
 	  width: 100%;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  height: 100%;
 	  /* 16:9 Aspect Ratio */
}
.cpy {
				margin:auto;
 	  position: static;
 	  text-align: center;
 	  padding-top: 10%;   
 	  width: 100%;
 	  height: 10%;
 	  background-size: 100%;
				background-image : url('https://user-images.githubusercontent.com/109543465/179886557-53e042e3-6511-4bab-bdbf-07030a08e97e.jpg') ;
 	  /* 16:9 Aspect Ratio */
}

img {
					 margin: 0 auto;
					 width: 60%;
      
}

a.judul {
				font-family: cursive;			
			 line-height: 10px;
				font-size: 60px;
				text-shadow:0 15px 30px #646464,
 												 			0 11px 8px #dedede;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
				
}
a.judulll {
				font-family: cursive;			
				line-height: 0px;
				font-size: 45px;
				color: #dedede;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
				
}
a.judull {
				font-family: cursive;			
				line-height: 0px;
				font-size: 55px;
				color: #dedede;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
				
}


a.sub {
				border: 3px solid #32423d;
				box-sizing: border-box;
				border-right: none;
				border-left: none;				
				font-family: Times new roman;
				font-size: 20px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
				
}
a.tgl {
				font-size: 40px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
a.thn {
				font-size: 15px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
a.ket {
				font-family: Times new roman;
				font-size: 10px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
a.kett {
				font-family: Times new roman;
				font-size: 15px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
a.kettt {
				font-family: Times new roman;
				font-size: 18px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
a.ms {
				font-family: 'Markazi Text', serif;
				font-size: 25px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
a.mem {
				font-family: 'Kaushan Script', cursive;
				font-size: 30px;
				color: #907d48;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */    
}
a.memm {
				font-family: 'Kaushan Script', cursive;
				font-size: 25px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */    
}
a.mts {
				font-family: 'Abyssinica SIL', serif;
				font-size: 13px;
				word-spacing: -3px;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */    
}
a.mtts {
				font-family: 'Staatliches', cursive;
				font-size: 17px;
				word-spacing: normal;
				color: #32423d;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */    
}

card {
 			box-shadow: 0 15px 30px #646464,
 												 			0 11px 8px #dedede;
				height:150px;
				width:330px;
				border-radius:20px;
				right: 0;
				left: 20px; 
				margin: 0 auto;          
				text-align: left;
				display: grid;
				grid-template-columns: auto auto;
				gap: 2px;
				background-color: white;	  
				grid: 25%  / auto auto ;
				/* 16:9 Aspect Ratio */
}
button {
				font-family:Times New roman;
				font-size: 15px;
				color: #af9975;
    border-radius: 7px;	
    background-color: #1b3629 ;
    border-color: #af9975;
    width: auto ;
    height: 30px;
    /* 16:9 Aspect Ratio */
}
button.send {
				font-size: 11px;
				font-family: 'Staatliches', cursive;
				}
menu1, menu2, menu3, menu4, menu5 {
			 top: 96%;
			 line-height: 0px;
			 font-size: 13px;
		 	border-top:5px solid #1b3629;
		 	position: fixed ;
		 	z-index: 5;
				text-align: center;
				background-color: #ffffff;				
				height: 10%;
				color: #32432d;
    margin-top: -2.5em;
  /* 16:9 Aspect Ratio */					
}
menu1{ 
				left: 0;
				width: 20%;
				/* 16:9 Aspect Ratio */	
}
menu2{ 
				left: 20%;
				width: 20%;
				/* 16:9 Aspect Ratio */	
}
menu3{ 
				left: 40%;
				width: 20%;
				/* 16:9 Aspect Ratio */	
}
menu4{ 
				left: 60%;
				width: 20%;
				/* 16:9 Aspect Ratio */	
}
menu5{ 
				left: 80%;
				width: 20%;
				/* 16:9 Aspect Ratio */	
}

menu1:hover, menu2:hover, menu3:hover, menu4:hover, menu5:hover {
				background-color: #1b3629;
				color: #ffffff;
}

dn {
  color: #ffffff;
  margin: 0 auto;
  height: 20% ;
  width: 40%;
  border-radius: 10px;
  background-color: #af9975 ;
  text-align: center;
 	/* 16:9 Aspect Ratio */	
}
c {
  display: inline-block;
  font-size: 10px;
  list-style-type: none;
  padding: 1px;
  text-transform: uppercase;
  	/* 16:9 Aspect Ratio */	
}
c span {
  display: block;
  font-size: 35px;
  	/* 16:9 Aspect Ratio */	
}

.container {
		 	border:3px solid #af9975;
				text-align: center;
				width: 80%;
				height: 250px;
				border-radius: 20px;
				margin: auto;
				background-color: #1b3629;	
  /* 16:9 Aspect Ratio */					
}
bx {
				text-align: center;
				width: 20%;
				font-size: 1px;
				border-radius: 10px;
				margin: auto;
				background-color: white;
				line-height: 0px;	
  /* 16:9 Aspect Ratio */				
}
a.kt { 
				font-family: cursive;			
				line-height: normal;
				font-size: 25px;
				color: #dedede;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
							
}
a.cr {
				font-size: 15px;
				color: #ffffff;
				text-decoration: bold;
				 /* 16:9 Aspect Ratio */
}
